.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.borderless{
    border:0;
    border-top:0;
}

.down{
    color:hsl(var(--down));
}
.up {
    color: hsl(var(--up));
}
$behind: -1;

