$colors:
(
    grass:
    (
        400: 163 72% 41%,
    ),
    fire:
    (
        400:  356 69% 56%,
    ),
    night:
    (
        400: 230 17% 14%,
        300: 232 19% 15%,
        200 : 228 28% 20%,
        100: 228 34% 66%,
    ),
    light:
    (
        400: 225 100% 98%,
        300: 227 47% 96%,
        200: 228 12% 44%,
        100: 230 17% 14%
    ),

    'white':
    (
    400: 0 0% 100%,
    ),

    social:
    (
        facebook: 208 92% 53%,
        twitter: 203 89% 53%,
        instagram_1: 37 97% 70%,
        instagram_2: 329 70% 58%,
        youtube: 348 97% 39%
    ),

toggle:
    (
        light: 230 22% 74%,
        dark_1: 210 78% 56%,
        dark_2: 146 68% 55%
    )


);